In [ ]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [ ]:
direc = '/content/drive/MyDrive/Colab Notebooks/2021CCP/univ_area/'

In [ ]:
consume1 = pd.read_excel(direc+'consume_202107.xlsx', sheet_name='4대소비 현황')
consume2 = pd.read_excel(direc+'consume_202107.xlsx', sheet_name='성별 소비 현황')
consume3 = pd.read_excel(direc+'consume_202107.xlsx', sheet_name='연령대별 소비 현황')
consume4 = pd.read_excel(direc+'consume_202107.xlsx', sheet_name='시간대별 소비 현황 (금액)')
consume5 = pd.read_excel(direc+'consume_202107.xlsx', sheet_name='시간대별 소비 현황 (비율)')
consume6 = pd.read_excel(direc+'consume_202107.xlsx', sheet_name='주중·주말별 소비 현황')

consume1_w = pd.read_excel(direc+'consume_202107_w.xlsx', sheet_name='4대소비 현황')
consume2_w = pd.read_excel(direc+'consume_202107_w.xlsx', sheet_name='성별 소비 현황')
consume3_w = pd.read_excel(direc+'consume_202107_w.xlsx', sheet_name='연령대별 소비 현황')
consume4_w = pd.read_excel(direc+'consume_202107_w.xlsx', sheet_name='시간대별 소비 현황 (금액)')
consume5_w = pd.read_excel(direc+'consume_202107_w.xlsx', sheet_name='시간대별 소비 현황 (비율)')
consume6_w = pd.read_excel(direc+'consume_202107_w.xlsx', sheet_name='주중·주말별 소비 현황')

consume1 = pd.concat([consume1,consume1_w.drop(['구분'],axis=1)],axis=1)
consume2 = pd.concat([consume2,consume2_w.drop(['구분'],axis=1)],axis=1)
consume3 = pd.concat([consume3,consume3_w.drop(['구분'],axis=1)],axis=1)
consume4 = pd.concat([consume4,consume4_w.drop(['구분'],axis=1)],axis=1)
consume5 = pd.concat([consume5,consume5_w.drop(['구분'],axis=1)],axis=1)
consume6 = pd.concat([consume6,consume6_w.drop(['구분'],axis=1)],axis=1)

In [ ]:
korean1 = pd.read_excel(direc+'korean_202107.xlsx', sheet_name='내국인 관광객 현황')
korean2 = pd.read_excel(direc+'korean_202107.xlsx', sheet_name='성별 내국인 관광객 비교')
korean3 = pd.read_excel(direc+'korean_202107.xlsx', sheet_name='연령대별 내국인 관광객 비교')
korean4 = pd.read_excel(direc+'korean_202107.xlsx', sheet_name='주중·주말별 내국인 관광객 비교')
korean5 = pd.read_excel(direc+'korean_202107.xlsx', sheet_name='주중·주말별 평균 내국인 관광객 비교')
korean6 = pd.read_excel(direc+'korean_202107.xlsx', sheet_name='시간대별 내국인 관광객 비교')
korean7 = pd.read_excel(direc+'korean_202107.xlsx', sheet_name='외지인 관광객 거주지역 비교')
korean8 = pd.read_excel(direc+'korean_202107.xlsx', sheet_name='외지인 관광객 24시간 이후 이동지역 비교')

korean1_w = pd.read_excel(direc+'korean_202107_w.xlsx', sheet_name='내국인 관광객 현황')
korean2_w = pd.read_excel(direc+'korean_202107_w.xlsx', sheet_name='성별 내국인 관광객 비교')
korean3_w = pd.read_excel(direc+'korean_202107_w.xlsx', sheet_name='연령대별 내국인 관광객 비교')
korean4_w = pd.read_excel(direc+'korean_202107_w.xlsx', sheet_name='주중·주말별 내국인 관광객 비교')
korean5_w = pd.read_excel(direc+'korean_202107_w.xlsx', sheet_name='주중·주말별 평균 내국인 관광객 비교')
korean6_w = pd.read_excel(direc+'korean_202107_w.xlsx', sheet_name='시간대별 내국인 관광객 비교')
korean7_w = pd.read_excel(direc+'korean_202107_w.xlsx', sheet_name='외지인 관광객 거주지역 비교')
korean8_w = pd.read_excel(direc+'korean_202107_w.xlsx', sheet_name='외지인 관광객 24시간 이후 이동지역 비교')

korean1 = pd.concat([korean1,korean1_w.drop(['내국인 구분','구분'],axis=1)],axis=1)
korean2 = pd.concat([korean2,korean2_w.drop(['내국인 구분','구분'],axis=1)],axis=1)
korean3 = pd.concat([korean3,korean3_w.drop(['내국인 구분','구분'],axis=1)],axis=1)
korean4 = pd.concat([korean4,korean4_w.drop(['내국인 구분','구분'],axis=1)],axis=1)
korean5 = pd.concat([korean5,korean5_w.drop(['내국인 구분','구분'],axis=1)],axis=1)
korean6 = pd.concat([korean6,korean6_w.drop(['내국인 구분','구분'],axis=1)],axis=1)
korean7 = pd.concat([korean7,korean7_w],axis=1)
korean8 = pd.concat([korean8,korean8_w],axis=1)

In [ ]:
consume1['구분'] = ['21_07','21_06','21_05','21_04','21_03','21_02','21_01','20_12','20_11','20_10','20_09','20_08','20_07','20_06','20_05','20_04','20_03','20_02','20_01','19_12','19_11','19_10','19_09','19_08']
consume1 = consume1.sort_values(by=['구분'])
consume1 = consume1.set_index('구분')

consume2['구분'] = ['M','W']
consume2 = consume2.set_index('구분')

consume3['구분'] = ['under20','20s','30s','40s','50s','60s','over70']
consume3 = consume3.set_index('구분')

consume4['구분'] = ['00_06','06_11','11_14','14_18','18_21','21_24']
consume4 = consume4.set_index('구분')

consume5['구분'] = ['00_06','06_11','11_14','14_18','18_21','21_24']
consume5 = consume5.set_index('구분')

sum_consume6_1 = consume6['구분'] == '주중평균'
sum_consume6_2 = consume6['구분'] == '주말평균'
sum_consume6 = sum_consume6_1 | sum_consume6_2
consume6 = consume6[sum_consume6]
consume6['구분'] = ['weekday','weekend']
consume6 = consume6.set_index('구분')

In [ ]:
korean1 = korean1.dropna(axis=0)

korean1_live = korean1[korean1['내국인 구분']=='현지인']
korean1_trip = korean1[korean1['내국인 구분']=='외지인']

korean1_live['구분'] = ['21_07','21_06','21_05','21_04','21_03','21_02','21_01','20_12','20_11','20_10','20_09','20_08','20_07','20_06','20_05','20_04','20_03','20_02','20_01','19_12','19_11','19_10','19_09','19_08']
korean1_live = korean1_live.sort_values(by=['구분'])
korean1_live = korean1_live.set_index('구분')
korean1_live = korean1_live.drop(['내국인 구분'],axis=1)

korean1_trip['구분'] = ['21_07','21_06','21_05','21_04','21_03','21_02','21_01','20_12','20_11','20_10','20_09','20_08','20_07','20_06','20_05','20_04','20_03','20_02','20_01','19_12','19_11','19_10','19_09','19_08']
korean1_trip = korean1_trip.sort_values(by=['구분'])
korean1_trip = korean1_trip.set_index('구분')
korean1_trip = korean1_trip.drop(['내국인 구분'],axis=1)

korean1_sum = korean1_live + korean1_trip

korean2_live = korean2[korean2['내국인 구분']=='현지인']
korean2_trip = korean2[korean2['내국인 구분']=='외지인']

korean2_live['구분'] = ['M','W']
korean2_live = korean2_live.set_index('구분')
korean2_live = korean2_live.drop(['내국인 구분'],axis=1)

korean2_trip['구분'] = ['M','W']
korean2_trip = korean2_trip.set_index('구분')
korean2_trip = korean2_trip.drop(['내국인 구분'],axis=1)

korean2_sum = korean2_live + korean2_trip

korean3_live = korean3[korean3['내국인 구분']=='현지인']
korean3_trip = korean3[korean3['내국인 구분']=='외지인']

korean3_live['구분'] = ['under10','10s','20s','30s','40s','50s','60s','over70']
korean3_live = korean3_live.set_index('구분')
korean3_live = korean3_live.drop(['내국인 구분'],axis=1)

korean3_trip['구분'] = ['under10','10s','20s','30s','40s','50s','60s','over70']
korean3_trip = korean3_trip.set_index('구분')
korean3_trip = korean3_trip.drop(['내국인 구분'],axis=1)

korean3_sum = korean3_live + korean3_trip

korean5_live = korean5[korean5['내국인 구분']=='현지인']
korean5_trip = korean5[korean5['내국인 구분']=='외지인']

korean5_live['구분'] = ['weekday','weekend']
korean5_live = korean5_live.set_index('구분')
korean5_live = korean5_live.drop(['내국인 구분'],axis=1)

korean5_trip['구분'] = ['weekday','weekend']
korean5_trip = korean5_trip.set_index('구분')
korean5_trip = korean5_trip.drop(['내국인 구분'],axis=1)

korean5_sum = korean5_live + korean5_trip

korean6_live = korean6[korean6['내국인 구분']=='현지인']
korean6_trip = korean6[korean6['내국인 구분']=='외지인']

korean6_live['구분'] = ['00_06','06_11','11_14','14_18','18_21','21_24']
korean6_live = korean6_live.set_index('구분')
korean6_live = korean6_live.drop(['내국인 구분'],axis=1)

korean6_trip['구분'] = ['00_06','06_11','11_14','14_18','18_21','21_24']
korean6_trip = korean6_trip.set_index('구분')
korean6_trip = korean6_trip.drop(['내국인 구분'],axis=1)

korean6_sum = korean6_live + korean6_trip

In [ ]:
store_num = pd.read_excel(direc+'서울시 상권분석.xlsx', sheet_name='점포수')
live_num = pd.read_excel(direc+'서울시 상권분석.xlsx', sheet_name='상존인구')
land_cost = pd.read_excel(direc+'서울시 상권분석.xlsx', sheet_name='임대시세')
home_num = pd.read_excel(direc+'서울시 상권분석.xlsx', sheet_name='가구수')

In [ ]:
store_num_f = store_num[store_num['종류']=='프랜차이즈']
store_num_n = store_num[store_num['종류']=='일반']
store_num_f = store_num_f.set_index('구분')
store_num_f = store_num_f.drop(['종류'],axis=1)
store_num_n = store_num_n.set_index('구분')
store_num_n = store_num_n.drop(['종류'],axis=1)
store_num_s = store_num_f + store_num_n

live_num_r = live_num[live_num['종류']=='길']
live_num_b = live_num[live_num['종류']=='건물']
live_num_r = live_num_r.set_index('구분')
live_num_r = live_num_r.drop(['종류'],axis=1)
live_num_b = live_num_b.set_index('구분')
live_num_b = live_num_b.drop(['종류'],axis=1)
live_num_s = live_num_r + live_num_b

land_cost = land_cost.set_index('구분')

home_num = home_num.set_index('구분')

In [ ]:
#

In [ ]:
corona = {
    # 20_01 ~ 21_07
    '관악구':[0,4,24,15,16,54,31,99,137,86,76,424,197,178,150,302,243,255,1033],
    '서대문구':[0,4,9,5,5,12,6,50,35,11,120,229,164,102,70,98,185,157,366],
    '성북구':[1,1,13,9,4,5,9,233,57,15,110,317,218,219,151,203,262,234,463],
    '마포구':[1,0,14,9,1,13,14,76,32,23,103,389,165,99,123,172,168,267,578],
    '종로구':[3,8,2,3,2,4,6,36,24,7,31,264,118,49,86,60,79,63,175],
    '성동구':[0,3,3,13,18,12,8,31,29,17,87,221,140,118,152,184,170,239,456],
    '동작구':[0,1,22,8,8,14,17,95,68,27,125,376,230,155,181,285,213,226,645],
    '동대문구':[0,1,25,5,3,4,6,75,28,28,132,317,218,152,147,265,232,197,340],
    '광진구':[0,1,4,3,6,3,5,71,33,11,44,261,137,128,279,240,213,232,432],
    '용산구':[0,0,12,6,20,12,4,45,22,22,81,184,102,226,168,115,157,251,1311],
    '노원구':[0,8,12,3,8,12,6,162,91,29,141,310,225,188,241,267,356,240,518]
}
corona = DataFrame(corona)
corona.index = ['20_01','20_02','20_03','20_04','20_05','20_06','20_07','20_08','20_09','20_10','20_11','20_12','21_01','21_02','21_03','21_04','21_05','21_06','21_07']

In [ ]:
dic_list = {
    '관악구':['서울대(행운동)'], '서대문구':['연세대(신촌동)'],
    '성북구':['고려대(안암동)','성신여(동선동)','동덕여(월곡2동)'],
    '마포구':['홍익대(서교동)','서강대(대흥동)'], '종로구':['성대(혜화동)'],
    '성동구':['한양대(사근동)'], '동작구':['중앙대(흑석동)'],
    '동대문구':['경희대(회기동)','외대(이문1동)','시립대(전농2동)'],
    '광진구':['건국대(화양동)'], '용산구':['숙명여(청파동)'], '노원구':['서울여(공릉2동)']
}

In [ ]:
if '성신여(동선동)' in dic_list['성북구']:
  print("True")
else:
  print("False")

True

In [ ]:
#

In [ ]:
consume1

       서울대(행운동)  연세대(신촌동)  고려대(안암동)  ...  성신여(동선동)  동덕여(월곡2동)  서울여(공릉2동)
구분                                   ...
19_08   2403594  17277877   1399002  ...   5931765    1888693    3394537
19_09   2190187  18270096   1824060  ...   5981953    1969802    3846409
19_10   2377467  19508396   2024479  ...   6196445    2174637    4247240
19_11   2251110  19526006   1992586  ...   5931337    2045042    3805833
19_12   2535833  20188210   2017885  ...   6614788    2237288    3590357
20_01   2270816  16314706   1498680  ...   5821416    1915215    2916751
20_02   1971946  13478669   1390979  ...   4214063    1667385    2806584
20_03   1859273  11457915   1288767  ...   4484099    1651206    3084788
20_04   1908422  12061047   1403371  ...   4558170    1671641    3271919
20_05   2165112  12268531   1712431  ...   5336397    1959263    3845851
20_06   1959602  12225803   1662016  ...   4984234    1806648    3644774
20_07   2064028  13651650   1615187  ...   5084991    1787065    3328200
20_08   1910927  11516911   1371141  ...   4563580    1540783    2942029
20_09   1666257   9089599   1350921  ...   3578676    1318793    2972143
20_10   2017988  12033999   1605776  ...   4707117    1589038    3425661
20_11   1955518  10973874   1498772  ...   4449078    1620219    3088155
20_12   1449542   6754104   1021311  ...   2816799    1160231    2408149
21_01   1531858   7265328   1043353  ...   3147214    1192278    2113800
21_02   1492458   8371064   1111068  ...   3350613    1158759    2305638
21_03   1845196  10794952   1572768  ...   4121397    1472223    3270086
21_04   1749279  10203842   1556513  ...   3897153    1470531    3275636
21_05   1897666  10779406   2411839  ...   4092133    1483465    3315280
21_06   1779494   9996142   2339924  ...   3865438    1450067    3189271
21_07   1618749   8292533   1905219  ...   3430444    1315799    2784360

[24 rows x 16 columns]

In [ ]:
korean1_sum

        서울대(행운동)   연세대(신촌동)   고려대(안암동)  ...   성신여(동선동)  동덕여(월곡2동)  서울여(공릉2동)
구분                                      ...
19_08   845009.0  4215628.0  1152078.0  ...  1524002.0   854851.0  1313540.0
19_09   777729.0  4460691.0  1311125.0  ...  1570913.0   899840.0  1470046.0
19_10   814758.0  4284305.0  1090821.0  ...  1480171.0   902388.0  1362106.0
19_11   887226.0  4957299.0  1348953.0  ...  1550913.0  1069537.0  1484574.0
19_12   959620.0  4877461.0  1235738.0  ...  1529532.0   957058.0  1354207.0
20_01  1013653.0  4255752.0   997861.0  ...  1426548.0   972349.0  1244215.0
20_02   871756.0  3544163.0   906514.0  ...  1171556.0   855449.0  1165759.0
20_03   726233.0  3109397.0   820061.0  ...  1139643.0   851428.0  1067913.0
20_04   633683.0  3186288.0   805676.0  ...  1158371.0   827992.0  1056181.0
20_05   732683.0  3369688.0   961832.0  ...  1320410.0   962455.0  1234541.0
20_06   648964.0  3312471.0   964775.0  ...  1278071.0   934917.0  1312577.0
20_07   661889.0  3651365.0   952098.0  ...  1349216.0   970684.0  1311619.0
20_08   618954.0  3148488.0   802596.0  ...  1160552.0   846903.0  1184898.0
20_09   579807.0  2923894.0   815665.0  ...  1105364.0   881469.0  1249098.0
20_10   662544.0  3410274.0   895563.0  ...  1314713.0   937780.0  1432498.0
20_11   674486.0  3186019.0   852559.0  ...  1268775.0   912041.0  1335314.0
20_12   563581.0  2658583.0   700403.0  ...   950030.0   802050.0  1085106.0
21_01   572541.0  2666206.0   706714.0  ...  1148942.0   786072.0  1025238.0
21_02   558160.0  2727340.0   721533.0  ...  1132446.0   797713.0  1093145.0
21_03   697155.0  3376258.0   965238.0  ...  1396683.0   950671.0  1412709.0
21_04   639087.0  2980677.0   793374.0  ...  1278701.0   890715.0  1265506.0
21_05   714322.0  3284218.0   901996.0  ...  1426170.0   948686.0  1390960.0
21_06   725960.0  3336848.0   983325.0  ...  1386582.0   944262.0  1374836.0
21_07   685608.0  3128108.0   788267.0  ...  1262769.0   892476.0  1227240.0

[24 rows x 16 columns]

In [ ]:
store_num_s

      서울대(행운동)  연세대(신촌동)  고려대(안암동)  ...  성신여(동선동)  동덕여(월곡2동)  서울여(공릉2동)
구분                                  ...
19_3       306      1565       482  ...       665        335        410
19_4       308      1542       476  ...       677        336        422
20_1       312      1579       485  ...       659        337        424
20_2       314      1591       494  ...       667        331        426
20_3       315      1564       487  ...       661        334        424
20_4       323      1535       489  ...       666        353        418
21_1       334      1526       489  ...       663        356        425
21_2       337      1532       488  ...       684        355        425

[8 rows x 16 columns]

In [ ]:
corona

        관악구  서대문구  성북구  마포구  종로구  성동구  동작구  동대문구  광진구   용산구  노원구
20_01     0     0    1    1    3    0    0     0    0     0    0
20_02     4     4    1    0    8    3    1     1    1     0    8
20_03    24     9   13   14    2    3   22    25    4    12   12
20_04    15     5    9    9    3   13    8     5    3     6    3
20_05    16     5    4    1    2   18    8     3    6    20    8
20_06    54    12    5   13    4   12   14     4    3    12   12
20_07    31     6    9   14    6    8   17     6    5     4    6
20_08    99    50  233   76   36   31   95    75   71    45  162
20_09   137    35   57   32   24   29   68    28   33    22   91
20_10    86    11   15   23    7   17   27    28   11    22   29
20_11    76   120  110  103   31   87  125   132   44    81  141
20_12   424   229  317  389  264  221  376   317  261   184  310
21_01   197   164  218  165  118  140  230   218  137   102  225
21_02   178   102  219   99   49  118  155   152  128   226  188
21_03   150    70  151  123   86  152  181   147  279   168  241
21_04   302    98  203  172   60  184  285   265  240   115  267
21_05   243   185  262  168   79  170  213   232  213   157  356
21_06   255   157  234  267   63  239  226   197  232   251  240
21_07  1033   366  463  578  175  456  645   340  432  1311  518