In [ ]:
import pandas as pd

df1 = pd.read_csv('/content/drive/Shareddrives/2021 CCP/천신만고 끝에 얻은 데이터/KT 데이터 재구성/place_cut/201905/201905KT_Jegi.csv')
df1 = df1.drop(['Unnamed: 0'], axis=1)
anam_1 = 37.586466
anam_2 = 127.029212
distance_anam = ((88.8*(anam_1-df1['x'])) ** 2 + (111*(anam_2 -df1['y'])) ** 2) ** 0.5

In [ ]:
distance_anam

0         12714.688459
1         12714.649089
2         12714.609719
3         12714.570349
4         12714.719455
              ...
328164    12715.165283
328165    12715.125920
328166    12715.086557
328167    12715.589922
328168    12715.463473
Length: 328169, dtype: float64

In [ ]:
!pip install haversine
from haversine import haversine

In [ ]:
df1

         etl_ymd        id           x          y  ...   f75   f80   f85  total
0       20190501  51764393  127.029783  37.581530  ...  0.00  0.00  0.00   8.52
1       20190501  51764394  127.029778  37.581981  ...  0.00  0.00  0.00   9.86
2       20190501  51764395  127.029772  37.582431  ...  0.00  0.00  0.00   9.66
3       20190501  51764396  127.029766  37.582881  ...  0.00  0.00  0.00   7.96
4       20190501  51776582  127.030349  37.581535  ...  0.00  0.00  0.00   9.45
...          ...       ...         ...        ...  ...   ...   ...   ...    ...
328164  20190531  52044746  127.042768  37.584339  ...  0.24  0.09  0.04  11.30
328165  20190531  52044747  127.042762  37.584790  ...  0.46  0.17  0.08  21.82
328166  20190531  52044748  127.042756  37.585240  ...  0.50  0.18  0.09  23.55
328167  20190531  52056925  127.043391  37.579839  ...  0.00  0.00  0.08   1.76
328168  20190531  52069118  127.043934  37.581645  ...  0.00  0.00  0.00   1.41

[328169 rows x 43 columns]

In [ ]:
cell = (df1['y'], df1['x'])
anam = (37.586466, 127.029212)

In [ ]:
haversine(cell, anam, unit='m')

In [ ]:
df = pd.DataFrame(columns=['distance'])

In [ ]:
df1['y'][0]

37.58153005206106

In [ ]:
for i in range(len(df1)):
  dis = haversine((df1['y'][i], df1['x'][i]), anam, unit='m')
  df = df.append({'distance' : dis}, ignore_index=True)

In [ ]:
df

         distance
0      551.157791
1      501.246252
2      451.374944
3      401.558854
4      557.421537
...           ...
10390  526.846222
10391  489.998299
10392  455.684501
10393  424.519769
10394  397.245946

[10395 rows x 1 columns]