In [ ]:
# 데이터 불러오기

In [ ]:
import pandas as pd

In [ ]:
d_1905 = pd.read_csv('/content/drive/Shareddrives/2021 CCP/천신만고 끝에 얻은 데이터/KT 데이터 재구성/coordinate_changed/202107KT.csv')
d_1905 = d_1905.drop(['Unnamed: 0'], axis=1)

In [ ]:
# for check
#d_1905.columns

Index(['etl_ymd', 'id', 'x', 'y', 'timezn_cd', 'admi_cd', 'm00', 'm07', 'm10',
       'm15', 'm20', 'm25', 'm30', 'm35', 'm40', 'm45', 'm50', 'm55', 'm60',
       'm65', 'm70', 'm75', 'm80', 'm85', 'f00', 'f07', 'f10', 'f15', 'f20',
       'f25', 'f30', 'f35', 'f40', 'f45', 'f50', 'f55', 'f60', 'f65', 'f70',
       'f75', 'f80', 'f85', 'total'],
      dtype='object')

In [ ]:
# 컬럼 추가

In [ ]:
# test
#i = 309989
#print(d_1905['etl_ymd'][i])
#print(d_1905['etl_ymd'][i]//10000)
#print(d_1905['etl_ymd'][i]//100%100)
#print(d_1905['etl_ymd'][i]%100)
#print(d_1905['etl_ymd'][i]%7)
#print(func_week(d_1905['etl_ymd'][i]))
#print(func_weekday(d_1905['etl_ymd'][i]))
#print(func_weekday(d_1905['etl_ymd'][i]))

In [ ]:
# 2019년 5월 기준
# 일요일: 5, 12, 19, 26 -> 7로 나눈 나머지가 6
# 공휴일: 5(어린이날), 6(대체공휴일), 12(석가탄신일)

# 2019년 7월 기준
# 일요일: 7, 14, 21, 28 -> 7로 나눈 나머지가 5

# 2020년 5월 기준
# 일요일: 3, 10, 17, 24, 31 -> 7로 나눈 나머지가 1
# 공휴일: 5(어린이날)

# 2020년 7월 기준
# 일요일: 5, 12, 19, 26 -> 7로 나눈 나머지가 0

# 2021년 5월 기준
# 일요일: 2, 9, 16, 23, 30 -> 7로 나눈 나머지가 4
# 공휴일: 5(어린이날), 19(석가탄신일)

# 2021년 7월 기준
# 일요일: 4, 11, 18, 25 -> 7로 나눈 나머지가 3

# week   : 일(0) 월(1) 화(2) 수(3) 목(4) 금(5) 토(6)
# weekday: 일(0) 월(1) 화(1) 수(1) 목(1) 금(1) 토(0) → 워드 내용 변경함!
# holiday: 공휴일(1) 공휴일아님(0)

In [ ]:
def func_week(par):  # 무슨 요일인가
  if par//100 == 201905: return (par+1)%7
  elif par//100 == 201907: return (par+2)%7
  elif par//100 == 202005: return (par+6)%7
  elif par//100 == 202007: return (par+0)%7
  elif par//100 == 202105: return (par+3)%7
  elif par//100 == 202107: return (par+4)%7

In [ ]:
def func_weekday(par):  # 평일인가
  res = func_week(par)
  if res == 0 or res == 6: return 0  # 주말
  else: return 1  # 평일

In [ ]:
def func_holiday(par):  # 공휴일인가
  holi_list = []
  if par//100 == 201905:
    holi_list = [20190505, 20190506, 20190512]
  elif par//100 == 202005:
    holi_list = [20200505]
  elif par//100 == 202105:
    holi_list = [20210505, 20210519]

  if par in holi_list: return 1  # 공휴일
  else: return 0  # 공휴일아님

In [ ]:
d_1905['year'] = d_1905['etl_ymd'] // 10000
d_1905['month'] = d_1905['etl_ymd'] // 100 % 100
d_1905['day'] = d_1905['etl_ymd'] % 100
d_1905['week'] = 0     # default
d_1905['weekday'] = 0  # default
d_1905['holiday'] = 0  # default
for itr in range(len(d_1905)):
  d_1905['week'][itr] = func_week(d_1905['etl_ymd'][itr])
  d_1905['weekday'][itr] = func_weekday(d_1905['etl_ymd'][itr])
  d_1905['holiday'][itr] = func_holiday(d_1905['etl_ymd'][itr])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [ ]:
# for check
d_1905[d_1905['day']==11]

In [ ]:
d_1905.to_csv("/content/drive/Shareddrives/2021 CCP/천신만고 끝에 얻은 데이터/KT 데이터 재구성/extend_ver/202107KT_ymd.csv", mode='w')

In [ ]:
# 그룹 컬럼 추가

In [ ]:
data = pd.read_csv('/content/drive/Shareddrives/2021 CCP/천신만고 끝에 얻은 데이터/KT 데이터 재구성/extend_ver/202107KT_ymd.csv')
data = data.drop(['Unnamed: 0'], axis=1)

In [ ]:
data1 = data.iloc[:,6:24]
data2 = data1.sum(1)
data['male'] = data2

data1 = data.iloc[:,24:42]
data2 = data1.sum(1)
data['female'] = data2

In [ ]:
# 00(-6) 07(7-9) 10(10-14) 15(15-19) 20 25 30 35 40 45 50 55 60 65 70(70-74) 75(75-79) 80(80-84) 85(85-)
#    00s(-9)          10s(10-19)       20s   30s   40s   50s   60s       70s(70-79)         80s(80-)

In [ ]:
data['m00s'] = data['m00'] + data['m07']
data['m10s'] = data['m10'] + data['m15']
data['m20s'] = data['m20'] + data['m25']
data['m30s'] = data['m30'] + data['m35']
data['m40s'] = data['m40'] + data['m45']
data['m50s'] = data['m50'] + data['m55']
data['m60s'] = data['m60'] + data['m65']
data['m70s'] = data['m70'] + data['m75']
data['m80s'] = data['m80'] + data['m85']

data['f00s'] = data['f00'] + data['f07']
data['f10s'] = data['f10'] + data['f15']
data['f20s'] = data['f20'] + data['f25']
data['f30s'] = data['f30'] + data['f35']
data['f40s'] = data['f40'] + data['f45']
data['f50s'] = data['f50'] + data['f55']
data['f60s'] = data['f60'] + data['f65']
data['f70s'] = data['f70'] + data['f75']
data['f80s'] = data['f80'] + data['f85']

data['00s'] = data['m00s'] + data['f00s']
data['10s'] = data['m10s'] + data['f10s']
data['20s'] = data['m20s'] + data['f20s']
data['30s'] = data['m30s'] + data['f30s']
data['40s'] = data['m40s'] + data['f40s']
data['50s'] = data['m50s'] + data['f50s']
data['60s'] = data['m60s'] + data['f60s']
data['70s'] = data['m70s'] + data['f70s']
data['80s'] = data['m80s'] + data['f80s']

In [ ]:
# for check
data

In [ ]:
data.to_csv("/content/drive/Shareddrives/2021 CCP/천신만고 끝에 얻은 데이터/KT 데이터 재구성/extend_ver/202107KT_ymdmf.csv", mode='w')

In [ ]:
# 2022/01/05 (강수량, 기온 추가)

In [ ]:
data = pd.read_csv('/content/drive/Shareddrives/2021 CCP/천신만고 끝에 얻은 데이터/KT 데이터 재구성/1227/JEGI201905.csv')
data = data.drop(['Unnamed: 0'], axis=1)

In [ ]:
data

         etl_ymd  DAY   MALE  FEMALE  TOTAL  ...  노년층(65세 이상)  YEAR  MONTH  DATE  시간
0       20190501  WED   6.42    2.10   8.52  ...         0.00  2019      5     1   0
1       20190501  WED   7.42    2.44   9.86  ...         0.00  2019      5     1   0
2       20190501  WED   7.27    2.39   9.66  ...         0.00  2019      5     1   0
3       20190501  WED   6.00    1.96   7.96  ...         0.00  2019      5     1   0
4       20190501  WED   7.12    2.33   9.45  ...         0.00  2019      5     1   0
...          ...  ...    ...     ...    ...  ...          ...   ...    ...   ...  ..
328164  20190531  FRI   5.71    5.59  11.30  ...         2.17  2019      5    31  23
328165  20190531  FRI  11.04   10.78  21.82  ...         4.19  2019      5    31  23
328166  20190531  FRI  11.91   11.64  23.55  ...         4.51  2019      5    31  23
328167  20190531  FRI   1.04    0.72   1.76  ...         0.40  2019      5    31  23
328168  20190531  FRI   0.92    0.49   1.41  ...         0.41  2019      5    31  23

[328169 rows x 15 columns]

In [ ]:
data1 = pd.read_csv('/content/drive/Shareddrives/2021 CCP/천신만고 끝에 얻은 데이터/KT 데이터 재구성/extend_ver/201905KT_ymdmf.csv')
data1 = data1.drop(['Unnamed: 0'], axis=1)
data1 = data1[data1['admi_cd']==11230545]
data1

          etl_ymd        id           x          y  ...   50s   60s   70s   80s
0        20190501  51764393  127.029783  37.581530  ...  0.54  0.18  0.00  0.00
1        20190501  51764394  127.029778  37.581981  ...  0.63  0.21  0.00  0.00
2        20190501  51764395  127.029772  37.582431  ...  0.62  0.21  0.00  0.00
3        20190501  51764396  127.029766  37.582881  ...  0.51  0.17  0.00  0.00
4        20190501  51776582  127.030349  37.581535  ...  0.61  0.20  0.00  0.00
...           ...       ...         ...        ...  ...   ...   ...   ...   ...
2592319  20190531  52044746  127.042768  37.584339  ...  2.44  2.02  0.97  0.39
2592320  20190531  52044747  127.042762  37.584790  ...  4.70  3.90  1.89  0.75
2592321  20190531  52044748  127.042756  37.585240  ...  5.07  4.21  2.03  0.81
2592322  20190531  52056925  127.043391  37.579839  ...  0.48  0.56  0.16  0.08
2592323  20190531  52069118  127.043934  37.581645  ...  0.67  0.33  0.16  0.00

[328169 rows x 78 columns]

In [ ]:
data = data1[['year','month','day','timezn_cd','week','weekday','holiday','id','x','y','total','male','female']]

In [ ]:
# 청년(19-29), 중년(30-49), 장년(50-64), 노년(65-)
# young middle older oldest

In [ ]:
data['young'] = data1['m20'] + data1['m25'] + data1['f20'] + data1['f25']
data['middle'] = data1['m30'] + data1['m35'] + data1['m40'] + data1['m45'] + data1['f30'] + data1['f35'] + data1['f40'] + data1['f45']
data['older'] = data1['m50'] + data1['m55'] + data1['m60'] + data1['f50'] + data1['f55'] + data1['f60']
data['oldest'] = data1['m65'] + data1['m70'] + data1['m75'] + data1['m80'] + data1['m85'] + data1['f65'] + data1['f70'] + data1['f75'] + data1['f80'] + data1['f85']

In [ ]:
data

         year  month  day  timezn_cd  ...  young  middle  older  oldest
0        2019      5    1          0  ...   5.16    1.98   0.72    0.00
1        2019      5    1          0  ...   5.97    2.29   0.84    0.00
2        2019      5    1          0  ...   5.85    2.23   0.83    0.00
3        2019      5    1          0  ...   4.82    1.85   0.68    0.00
4        2019      5    1          0  ...   5.72    2.19   0.81    0.00
...       ...    ...  ...        ...  ...    ...     ...    ...     ...
2592319  2019      5   31         23  ...   1.87    3.27   3.65    2.17
2592320  2019      5   31         23  ...   3.62    6.30   7.05    4.19
2592321  2019      5   31         23  ...   3.90    6.79   7.61    4.51
2592322  2019      5   31         23  ...   0.24    0.16   0.88    0.40
2592323  2019      5   31         23  ...   0.08    0.17   0.75    0.41

[328169 rows x 17 columns]

In [ ]:
temper = pd.read_csv('/content/drive/Shareddrives/2021 CCP/천신만고 끝에 얻은 데이터/KT 데이터 재구성/컬럼생성용데이터/제기동_3시간기온_201904_201905.csv')

temper.columns = ['day', 'hour', 'forecast', 'value']

# day 1, hour 200, forecast 4 → 한국 기준 1일 15시(=2+4+9)
# 15 18 21 0 3 6 9 12
temper = temper[temper['forecast'] == 4]
temper['hour'] = temper['hour'] / 100 + temper['forecast'] + 9
temper = temper[['day','hour','value']]
temper = temper[29*8+3:(30+30)*8+4] # 변경할 부분
temper = temper.reset_index(drop=True)
temper['day'] = pd.to_numeric(temper['day'])
temper.loc[0:4, 'day'] = 0

temper.loc[temper['hour'] > 23, 'day'] += 1
temper.loc[temper['hour'] > 23, 'hour'] -= 24

In [ ]:
# 빈 시간 채우기
f_temper = temper.copy()
f_temper['hour'] = (f_temper['day'] - 1) * 24 + f_temper['hour']
f_temper = f_temper[['hour','value']]
r_temper = f_temper.copy() # for temp
for i in range(len(f_temper)-1):
  b_hour = f_temper['hour'][i]
  b_value = f_temper['value'][i]
  a_hour = f_temper['hour'][i+1]
  a_value = f_temper['value'][i+1]
  r_temper = r_temper.append({'hour':b_hour+1, 'value':b_value+(a_value-b_value)/3*1}, ignore_index=True)
  r_temper = r_temper.append({'hour':b_hour+2, 'value':b_value+(a_value-b_value)/3*2}, ignore_index=True)
r_temper = r_temper.sort_values(by='hour')
r_temper = r_temper.reset_index(drop=True)

In [ ]:
f_temper = r_temper.copy()
f_temper['day'] = 1 + f_temper['hour'] // 24
f_temper['hour'] = f_temper['hour'] % 24
f_temper = f_temper[['day', 'hour', 'value']]
f_temper = f_temper.drop(len(f_temper)-1)

In [ ]:
f_temper

      day  hour      value
0     1.0   0.0  15.000000
1     1.0   1.0  14.333333
2     1.0   2.0  13.666667
3     1.0   3.0  13.000000
4     1.0   4.0  13.000000
..    ...   ...        ...
739  31.0  19.0  20.000000
740  31.0  20.0  19.000000
741  31.0  21.0  18.000000
742  31.0  22.0  17.666667
743  31.0  23.0  17.333333

[744 rows x 3 columns]

In [ ]:
# 강수형태 : 없음(0), 비(1), 비/눈(2), 눈(3), 소나기(4)
# 강수량(mm) : -0.1(0) 0.1-1(1) 1-4(5) 5-9(10) 10-19(20) 20-39(40) 40-69(70) 70-(100)

In [ ]:
rainf = pd.read_csv('/content/drive/Shareddrives/2021 CCP/천신만고 끝에 얻은 데이터/KT 데이터 재구성/컬럼생성용데이터/제기동_강수형태_201904_201905.csv')
rainf.columns = ['day', 'hour', 'forecast', 'value']

In [ ]:
rain = pd.read_csv('/content/drive/Shareddrives/2021 CCP/천신만고 끝에 얻은 데이터/KT 데이터 재구성/컬럼생성용데이터/제기동_6시간강수량_201904_201905.csv')
rain.columns = ['day', 'hour', 'forecast', 'value']

# day 1, hour 200, forecast 7 → 한국 기준 1일 18시(=2+7+9)
# 18 0 6 12 18 0 6 12 ...
# 18 0 6 12 ...
#    0 6 12 ...
#    0 6 12 ...
rain = rain[rain['forecast'] == 4]
rain['hour'] = rain['hour'] / 100 + rain['forecast'] + 9
rain = rain[['day','hour','value']]
rain = rain[29*4+1:(30+30)*4+2] # 변경할 부분
rain = rain.reset_index(drop=True)
rain['day'] = pd.to_numeric(rain['day'])
rain.loc[0:2, 'day'] = 0

rain.loc[rain['hour'] > 23, 'day'] += 1
rain.loc[rain['hour'] > 23, 'hour'] -= 24

In [ ]:
# 빈 시간 채우기
f_rain = rain.copy()
f_rain['hour'] = (f_rain['day'] - 1) * 24 + f_rain['hour']
f_rain = f_rain[['hour','value']]
r_rain = f_rain.copy() # for temp
for i in range(len(f_rain)-1):
  b_hour = f_rain['hour'][i]
  b_value = f_rain['value'][i]
  a_hour = f_rain['hour'][i+1]
  a_value = f_rain['value'][i+1]
  r_rain = r_rain.append({'hour':b_hour+1, 'value':b_value+(a_value-b_value)/6*1}, ignore_index=True)
  r_rain = r_rain.append({'hour':b_hour+2, 'value':b_value+(a_value-b_value)/6*2}, ignore_index=True)
  r_rain = r_rain.append({'hour':b_hour+3, 'value':b_value+(a_value-b_value)/6*3}, ignore_index=True)
  r_rain = r_rain.append({'hour':b_hour+4, 'value':b_value+(a_value-b_value)/6*4}, ignore_index=True)
  r_rain = r_rain.append({'hour':b_hour+5, 'value':b_value+(a_value-b_value)/6*5}, ignore_index=True)
r_rain = r_rain.sort_values(by='hour')
r_rain = r_rain.reset_index(drop=True)

In [ ]:
f_rain = r_rain.copy()
f_rain['day'] = 1 + f_rain['hour'] // 24
f_rain['hour'] = f_rain['hour'] % 24
f_rain = f_rain[['day', 'hour', 'value']]
f_rain = f_rain.drop(len(f_rain)-1)

In [ ]:
f_rain

      day  hour  value
0     1.0   0.0    0.0
1     1.0   1.0    0.0
2     1.0   2.0    0.0
3     1.0   3.0    0.0
4     1.0   4.0    0.0
..    ...   ...    ...
739  31.0  19.0    0.0
740  31.0  20.0    0.0
741  31.0  21.0    0.0
742  31.0  22.0    0.0
743  31.0  23.0    0.0

[744 rows x 3 columns]

In [ ]:
data['temperature'] = 0
data['rain'] = 0
#for i in range(len(data)):
#  data['temperature'][i] = f_temper['value'][f_temper.index[(f_temper['day'] == data['day'][i]) & (f_temper['hour'] == data['timezn_cd'][i])]]
#  data['rain'][i] = f_rain['value'][f_rain.index[(f_rain['day'] == data['day'][i]) & (f_rain['hour'] == data['timezn_cd'][i])]]
for i in range(len(f_temper)):
  data.loc[(data['day'] == f_temper['day'][i]) & (data['timezn_cd'] == f_temper['hour'][i]), ['temperature','rain']] = [f_temper['value'][i],f_rain['value'][i]]

In [ ]:
data

         year  month  day  timezn_cd  ...  older  oldest  temperature  rain
0        2019      5    1          0  ...   0.72    0.00    15.000000   0.0
1        2019      5    1          0  ...   0.84    0.00    15.000000   0.0
2        2019      5    1          0  ...   0.83    0.00    15.000000   0.0
3        2019      5    1          0  ...   0.68    0.00    15.000000   0.0
4        2019      5    1          0  ...   0.81    0.00    15.000000   0.0
...       ...    ...  ...        ...  ...    ...     ...          ...   ...
2592319  2019      5   31         23  ...   3.65    2.17    17.333333   0.0
2592320  2019      5   31         23  ...   7.05    4.19    17.333333   0.0
2592321  2019      5   31         23  ...   7.61    4.51    17.333333   0.0
2592322  2019      5   31         23  ...   0.88    0.40    17.333333   0.0
2592323  2019      5   31         23  ...   0.75    0.41    17.333333   0.0

[328169 rows x 19 columns]

In [ ]:
data.to_csv("/content/drive/Shareddrives/2021 CCP/천신만고 끝에 얻은 데이터/KT 데이터 재구성/extend_ver/201905KT_Jegi_ymdmftr.csv", mode='w', index = None)